body {
  background-color: white;
  color: black;
  font-size: 14px; }

main {
  margin-top: 5rem; }

footer {
  background-color: rgba(9, 142, 198, 0.8);
  color: white;
  padding: 2rem 0;
  margin-top: 2rem; }

.bloqqPost__container {
  transition: all .3s;
  border-radius: 5px;
  padding: 2rem;
  margin-bottom: 2rem; }
  .bloqqPost__container:not(.bloqqPost__multiple) {
    border: 1px solid rgba(155, 155, 155, 0.5); }
  .bloqqPost__container.bloqqPost__multiple {
    border: 1px solid transparent; }
    .bloqqPost__container.bloqqPost__multiple:hover {
      border: 1px solid rgba(155, 155, 155, 0.5); }
  .bloqqPost__container .bloqqPost__container-headline {
    margin-bottom: 1rem;
    font-size: 1.5rem; }
  .bloqqPost__container .bloqqpost__container-headline_link {
    color: black; }
  .bloqqPost__container .bloqqPost__container-date {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5); }

.bloqqPost__detailbox {
  border: 1px solid rgba(155, 155, 155, 0.5);
  padding: 2rem;
  border-radius: 5px; }
  .bloqqPost__detailbox .bloqqPost__moreFromAuthor__instance {
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(155, 155, 155, 0.5); }

.pagination li {
  margin: .3rem; }

nav {
  backdrop-filter: blur(10px);
  background-color: rgba(73, 73, 73, 0.8);
  z-index: 13377331;
  position: relative; }
  @media (max-width: 767px) {
    nav {
      padding: 0 0 !important; } }
  @media (min-width: 768px) {
    nav {
      padding: 0 1rem !important; } }
  nav .navbar {
    height: 54px; }
  nav .navbar-nav .nav-item {
    background-color: #098ec6;
    padding: .5rem;
    transition: all .3s; }
    nav .navbar-nav .nav-item.nav-green-af {
      background-color: #34b52f; }
      nav .navbar-nav .nav-item.nav-green-af.active, nav .navbar-nav .nav-item.nav-green-af:hover {
        background-color: #329a2d; }
    @media (min-width: 768px) {
      nav .navbar-nav .nav-item {
        transform: skew(-15deg) scale(1.02); } }
    nav .navbar-nav .nav-item.active, nav .navbar-nav .nav-item:hover {
      background-color: #087dae; }
    @media (min-width: 768px) {
      nav .navbar-nav .nav-item:hover {
        transform: skew(-15deg) scale(1.15);
        z-index: 1337; } }
    nav .navbar-nav .nav-item:hover .nav-link {
      color: white; }
    nav .navbar-nav .nav-item .nav-link {
      color: white; }
      @media (min-width: 768px) {
        nav .navbar-nav .nav-item .nav-link {
          transform: skew(15deg); } }

.nav__loggedinAs {
  color: white;
  display: block; }

.nav__userName {
  color: #84d8ff;
  display: block; }

.nav__profileImage {
  width: 50px;
  height: 50px;
  border: 1px solid #4e555b; }

.nav__profileDetails__Container {
  margin: 0 1rem; }

.carousel {
  width: 100%;
  max-height: 600px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  max-width: 82rem; }
  @media (min-width: 768px) {
    .carousel {
      margin-top: -54px; } }
  .carousel .carousel-caption {
    backdrop-filter: blur(5px) brightness(90%);
    width: 50%;
    right: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    display: flex !important;
    justify-content: center;
    flex-flow: column; }
    .carousel .carousel-caption h5 {
      text-align: left;
      margin-left: 10%;
      font-size: 2.5rem !important; }
    .carousel .carousel-caption p {
      text-align: left;
      margin-left: 10%;
      font-size: 1.5rem !important; }
    .carousel .carousel-caption h5, .carousel .carousel-caption p {
      text-shadow: 0px 0px 5px #000000; }

.startPage_showCaseBox__headline {
  font-size: 1rem;
  color: #7A7A7A; }

.startPage_showCaseBox__subline {
  font-size: 1.5rem;
  display: block; }

.startPage_showCaseBox__registeredAt {
  display: inline;
  font-weight: bold; }

.startPage_showCaseBox__registeredDate {
  display: inline; }

.startPage__showCaseBox_sidebar {
  background: #f9f7f5;
  padding: 1rem; }
  .startPage__showCaseBox_sidebar .col-md-12 {
    margin-bottom: 1.5rem; }

main.startpage {
  margin-top: 2rem !important; }

.singleComment__container {
  border: 1px solid rgba(155, 155, 155, 0.5);
  border-radius: 5px;
  margin-top: 1rem; }
  .singleComment__container .singleComment__userSide {
    padding: .5rem; }
    .singleComment__container .singleComment__userSide.false {
      background: rgba(155, 155, 155, 0.05); }
    .singleComment__container .singleComment__userSide.true {
      background: rgba(164, 222, 255, 0.42); }
    .singleComment__container .singleComment__userSide .userName {
      font-weight: bold;
      display: block; }
    .singleComment__container .singleComment__userSide .date, .singleComment__container .singleComment__userSide .time {
      display: block; }
  .singleComment__container .singleComment__textSide {
    padding: .5rem; }

/*# sourceMappingURL=../../../../target/style.css.map */