<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
>
<head lang="en" th:include="/fragments/header :: head">
<body>
<nav th:include="/fragments/navigation :: navigation"/>

<div th:include="/htmlcomponents/slider :: carouselSlider"></div>

<main role="main" class="container startpage">
    <div class="row">
        <div class="col-md-4 startPage__showCaseBox_sidebar">
            <div class="row">
                <!-- register fast blyat -->
                <div class="col-md-12 startPage_showCaseBox_notloggedin" sec:authorize="!isAuthenticated()">
                    <h2 class="startPage_showCaseBox__headline">Gründe für die Registrierung:</h2>
                    <span class="startPage_showCaseBox__reasonsForBloqq">
                        Bloqq ist Gewinner der jährlichen BloqqAwardz 2018 <br />
                        <i> "Klasse" </i> - Hans Müller, 14 <br />
                        <i>"Das beste Produkt, was jemals aus der BBSMT hervorgegangen ist"</i> - Landstreicher in Hamburg <br />
                        <br />
                        <a class="btn btn-outline-info my-2 my-sm-0" th:href="@{/register}">Jetzt Registrieren</a>
                    </span>
                </div>

                <div class="col-md-12 startPage_showCaseBox_loggedin" sec:authorize="isAuthenticated()">
                    <h2 class="startPage_showCaseBox__headline">Hey, <span sec:authentication="name"></span>!</h2>
                    <span class="startPage_showCaseBox__userPanel">
                        <ul>
                            <a th:href="@{/postbloqq}"> <li> Einen neuen Beitrag schreiben </li></a>
                            <a th:href="@{/logout}"> <li> Ausloggen </li> </a>
                        </ul>
                    </span>
                </div>
                <!-- /register fast blyat -->
                <!-- newest member -->
                <div class="col-md-12">
                    <h2 class="startPage_showCaseBox__headline">Unser neustes Mitglied: </h2>
                    <a th:href="@{'/user/id/' + ${lastUser.id}}" class="startPage_showCaseBox__subline" th:text="${lastUser.userName}"></a>
                    <span class="startPage_showCaseBox__registeredAt">Registriert am: </span><span class="startPage_showCaseBox__registeredDate" th:text="${#dates.format(lastUser.creationDate, 'dd. MMMM yyyy')}"></span>
                </div>
            </div>
        </div>
        <div class="col-md-8 startPage_showCaseBox_mainContent">
            <div class="row">
                <!-- last post -->
                <div class="col-md-12">
                    <h2 class="startPage_showCaseBox__headline">Letzter Beitrag:</h2>
                    <h1 class="startPage_showCaseBox__subline" th:text="${lastBloqqPost.titel}"></h1>
                    <h6>von <span th:text="${lastBloqqPostAuthor.userName}"></span></h6>
                    <div class="bloqqPost__container-text__container" th:utext="${#strings.abbreviate(lastBloqqPost.content, 300)}"></div>
                    <a th:href="@{'/bp/id/' + ${lastBloqqPost.id}}"> Mehr lesen</a>
                </div>
            </div>
        </div>
    </div>
</main>

<footer th:include="/fragments/footer :: footer"/>
</body>
</html>