<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:include="/fragments/header :: head">
<body>
<nav th:include="/fragments/navigation :: navigation"/>

<div class="startPageSlider">
    <div th:include="/htmlcomponents/slider :: carouselSlider"/>
</div>
<main role="main" class="container">
    <div class="row">
        <div class="col-md-6">
            <h2 class="startPage_showCaseBox__headline"> Last Post:</h2>
            <h1 class="startPage_showCaseBox__subline" th:text="${lastBloqqPost.titel}"></h1>
            <div class="bloqqPost__container-text__container" th:text="${#strings.abbreviate(lastBloqqPost.content, 255)}"></div>
        </div>

        <div class="col-md-6">
            <h2 class="startPage_showCaseBox__headline">Unser neustes Mitglied: </h2>
            <a th:href="@{'/user/id/' + ${userId}}" class="startPage_showCaseBox__subline" th:text="${lastUser}"></a>
            <span class="startPage_showCaseBox__registeredAt">Registriert am: </span><span class="startPage_showCaseBox__registeredDate" th:text="${registered}"></span>
        </div>
    </div>
</main>

<footer th:include="/fragments/footer :: footer"/>
</body>
</html>