<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:include="/fragments/header :: head">
<body>
<nav th:include="/fragments/navigation :: navigation"/>

<main role="main" class="container">
    <div class="row userList__container userList__multiple" th:each="user : ${userList}">
        <div class="col-md-6">
            <p th:text="${user.userName}"></p>
        </div>
        <div class="col-md-6">
            <p th:text="${#dates.format(user.creationDate, 'dd. MMMM yyyy')}"></p>
        </div>
    </div>
</main>

<footer th:include="/fragments/footer :: footer"/>
</body>
</html>