<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:include="/fragments/header :: head">
<body>
<nav th:include="/fragments/navigation :: navigation"/>

<main role="main" class="container">
    <div class="row">
        <div class="col-md-6 " th:each="bloqqpost : ${bloqqlist}">
            <div class="bloqqPost__container bloqqPost__multiple">
                <span class="bloqqPost__container-date" th:text="${#dates.format(bloqqpost.createDate, 'dd. MMMM yyyy')}"></span>
                <span class="bloqqPost__container-author"></span>
                <a class="bloqqpost__container-headline_link" th:href="@{'./id/' + ${bloqqpost.id}}">
                    <h1 class="bloqqPost__container-headline" th:text="${bloqqpost.titel}"></h1>
                </a>
                <div class="bloqqPost__container-text__container" th:utext="${#strings.abbreviate(bloqqpost.content,255)}"></div>
                <a class="bloqqPost__container-more_button" th:href="@{'./id/' + ${bloqqpost.id}}"> Mehr lesen...</a>
            </div>
        </div>

    </div>
</main>

<footer th:include="/fragments/footer :: footer"/>
</body>
</html>