<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:include="/fragments/header :: head">
<body>
<nav th:include="/fragments/navigation :: navigation"/>

<main role="main" class="container">
    <div class="row">

        <div class="col-md-8 bloqqPost__container" th:each="bloqqpost : ${bloqqlist}">
            <h1 class="bloqqPost__container-headline" th:text="${bloqqpost.titel}"></h1>
            <div class="bloqqPost__container-text__container" th:text="${bloqqpost.content}"></div>
        </div>

    </div>
</main>

<div class="row" th:fragment="pagination">
    <div th:if="${bloqqlist.totalPages != 1}"
         class="form-group col-md-11 pagination-centered">
        <ul class="pagination">
            <li th:class="${bloqqlist.number == 0} ? disabled"><a
                    class="pageLink"
                    th:href="@{./(pageSize=${selectedPageSize}, page=1)}">&laquo;</a>
            </li>
            <li th:class="${bloqqlist.number == 0} ? disabled"><a
                    class="pageLink"
                    th:href="@{./(pageSize=${selectedPageSize}, page=${bloqqlist.number})}">&larr;</a>
            </li>
            <li
                    th:class="${bloqqlist.number == (page - 1)} ? 'active pointer-disabled'"
                    th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">
                <a class="pageLink"
                   th:href="@{./(pageSize=${selectedPageSize}, page=${page})}"
                   th:text="${page}"></a>
            </li>
            <li
                    th:class="${bloqqlist.number + 1 == bloqqlist.totalPages} ? disabled">
                <a class="pageLink"
                   th:href="@{./(pageSize=${selectedPageSize}, page=${bloqqlist.number + 2})}">&rarr;</a>
            </li>
            <li
                    th:class="${bloqqlist.number + 1 == bloqqlist.totalPages} ? disabled">
                <a class="pageLink"
                   th:href="@{./(pageSize=${selectedPageSize}, page=${bloqqlist.totalPages})}">&raquo;</a>
            </li>
        </ul>
    </div>
</div>

<footer th:include="/fragments/footer :: footer"/>
<script th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(function() {
        changePageAndSize();
    });

    function changePageAndSize() {
        $('#pageSizeSelect').change(function(evt) {
            window.location.replace("/?pageSize=" + this.value + "&page=1");
        });
    }
    /*]]>*/
</script>
</body>
</html>