<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:include="/fragments/header :: head">
<body>
<nav th:include="/fragments/navigation :: navigation"/>
<main role="main" class="container">

    <h1>Neuen User registrieren</h1>
    <!--/*@thymesVar id="user" type="bbsmt.bloqq.bloqq.entities.User"*/-->
    <form th:action="@{/registerAction}" th:object="${user}" method="POST">
        <input type="text" th:field="*{userName}" />
        <input type="text" th:field="*{password}" />
        <button type="submit">Registrieren</button>
    </form>
</main>
<footer th:include="/fragments/footer :: footer"/>
</body>
</html>