<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head lang="en" th:include="/fragments/header :: head">
<body>
<nav th:include="/fragments/navigation :: navigation"/>

<main role="main" class="container">
    <div class="row">
        <div class="col-md-8">
            <h1>Neuen Bloqqpost:</h1>
            <form th:action="@{/postbloqqAction}" th:object="${bloqqpost}" method="POST">
                <input th:field="*{titel}" placeholder="Dein cleverer Clickbait-Titel hier" />
                <textarea th:field="*{content}" placeholder="uhhhh..."></textarea>
                <button type="submit">Post!</button>
            </form>
        </div>
    </div>

</main>
<footer th:include="/fragments/footer :: footer"/>
</body>
</html>