// * * * * * Body Settings * * * * *
$body-bg-color: white;
$body-fg-color: black;
$body-font-size: 14px;


$primary-color: #006dc1;

$navbar-bg-color: #494949;
$nav-bg-color: #098ec6;
$nav-bg-color-active: darken($nav-bg-color, 5);
$nav-color: white;
