body {
  background-color: $body-bg-color;
  color: $body-fg-color;
  font-size: $body-font-size;
}

main {
  margin-top: 5rem;
}

footer {
  background-color: rgba($nav-bg-color,.8);
  color: white;
  padding: 1rem 0;
  margin-top: 2rem;

}

