nav {

  @media (max-width:  767px) {
    padding: 0 0 !important;
  }

  @media (min-width:  768px) {
    padding: 0 1rem !important;
  }
  background-color: rgba($navbar-bg-color,.8);

  .navbar {
    backdrop-filter: blur(10px);
  }

  .navbar-nav {
    .nav-item {
      background-color: $nav-bg-color;

      padding: .5rem;
      transition: all .3s;

      @media (min-width:  768px) {
        transform: skew(-15deg) scale(1.02);
      }

      &.active, &:hover {
        background-color: $nav-bg-color-active;
      }
      &:hover {
        @media (min-width:  768px) {
          transform: skew(-15deg) scale(1.15);
          z-index: 1337;
        }
      }
      &:hover .nav-link {
        color: white;
      }

      .nav-link {
        color: $nav-color;
        @media (min-width:  768px) {
          transform: skew(15deg);
        }
      }
    }
  }
}

.nav__loggedinAs {
  color: white;
  display: block;
}
.nav__userName {
  color: #84d8ff;
  display: block;
}

.nav__profileImage {
  width: 50px;
  height: 50px;
  border: 1px solid #4e555b;
}

.nav__profileDetails__Container {
  margin: 0 1rem;
}
