.carousel{
  width: 100%;
  max-height: 600px;
  overflow: hidden;

  .carousel-caption {
    backdrop-filter: blur(5px) brightness(90%);
    width: 50%;
    right: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    display: flex !important;
    justify-content: center;
    flex-flow: column;

    h5 {
      text-align: left;
      margin-left: 10%;
      font-size: 2.5rem !important;
    }
    p {
      text-align: left;
      margin-left: 10%;
      font-size: 1.5rem !important;
    }
    h5, p {
      text-shadow: 0px 0px 5px #000000;
    }
  }
}

.startPage_showCaseBox__headline {
  font-size: 1rem;
  color: #7A7A7A;
}

.startPage_showCaseBox__subline {
  font-size: 1.5rem;
  display: block;
}

.startPage_showCaseBox__registeredAt {
  display: inline;
  font-weight: bold;
}
.startPage_showCaseBox__registeredDate {
  display: inline;
}
.startPage_showCaseBox_notloggedin,
.startPage_showCaseBox_loggedin {
  background: #f9f7f5;
  padding: 1rem;
}


main.startpage {
  margin-top: 2rem !important;
}
