.carousel{
  width: 100%;
  max-height: 600px;
  overflow: hidden;

  &:after {
    border: 15px solid #098ec6;
    content: "";
    background-color: white;
    width: 300px;
    height: 800px;
    position: absolute;
    bottom: -360px;
    right: 0;
    transform: rotate(45deg);
  }

  .carousel-caption {
    backdrop-filter: blur(5px) brightness(90%);
    width: 100%;
    right: 0;
    left: 0;
    bottom: 0;
    height: 200px;

    h5 {
      text-align: left;
      margin-left: 10%;
      font-size: 2.5rem !important;
    }
    p {
      text-align: left;
      margin-left: 10%;
      font-size: 1.5rem !important;
    }
    h5, p {
      text-shadow: 0px 0px 5px #000000;
    }
  }
}

.startPage_showCaseBox__headline {
  font-size: 1rem;
  color: #7A7A7A;
}

.startPage_showCaseBox__subline {
  font-size: 1.5rem;
}

.startPage_showCaseBox__registeredAt {
  display: inline;
  font-weight: bold;
}
startPage_showCaseBox__registeredDate {
  display: inline;
}

