.carousel{
  width: 100%;
  max-height: 600px;
  overflow: hidden;

  &:after {
    border: 15px solid #098ec6;
    content: "";
    background-color: white;
    width: 300px;
    height: 800px;
    position: absolute;
    bottom: -360px;
    right: 0;
    transform: rotate(45deg);
  }

  .carousel-item img {
    margin-top: -40%;
  }
}